@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "vuigheRoboto";
    src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "vuighe";
    src: url("./fonts/vuighe.ttf");
}

@layer utilities {
    .hover-red:hover .effect {
        color: red;
    }

    .hover-red:hover img {
        transform: scale(1.25);
    }

    .search-parent:has(.input-search:focus) {
        border-color: red;
    }

    .scroll-bar-search {
        @apply overflow-y-hidden;
    }

    .scroll-bar-search:hover {
        @apply scrollbar scrollbar-thumb-rounded-md scrollbar-w-[6px]
        scrollbar-thumb-[#aaa] scrollbar-track-gray-100;
    }
}
